<%= form_for @organization do |f| %>
  <%= base_errors_for @organization %>

  <ul class="nav nav-tabs" data-tabs="tabs">
    <li class="active"><a href="#primary" data-toggle="tab">Organization</a></li>
    <li><a href="#os" data-toggle="tab">Operating System</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="primary">
      <%= text_f f, :name, :class => "input-xlarge" %>
    </div>

    <div class="tab-pane" id="smart_proxies">
    </div>

    <div class="tab-pane" id="compute_resources">
    </div>

    <div class="tab-pane" id="media">
    </div>

   <% if SETTINGS[:unattended] %>
   <div class="tab-pane" id="network">
   </div>

   <div class="tab-pane" id="os">
     <%= render "common/os_selection/initial", :item => @organization %>
     <%= password_f f, :root_pass, :label => "Root Password" %>
   </div>

   <% end %>

   <div class="tab-pane" id="domains">

   </div>

   <div class="tab-pane" id="params">
   </div>
  </div>

  <%= submit_or_cancel f %>
<% end %>
